<nav class="navbar" id="navbar">
  <div class="container">
    <a href="{{ '/' | url }}" class="navbar__logo">
      <img src="{{ '/img/logo.png' | url }}" alt="Kotlinski Brand Consultancy" width="160" height="40">
    </a>

    <div class="navbar__links">
      <a href="{{ '/' | url }}#uslugi">Usługi</a>
      <a href="{{ '/' | url }}#o-mnie">O mnie</a>
      <a href="{{ '/' | url }}#edukacja">Produkty cyfrowe</a>
      <a href="{{ '/' | url }}#vlog">Vlog</a>
      <a href="{{ '/blog/' | url }}">Blog</a>
      <a href="{{ '/newsletter/' | url }}">Newsletter</a>
    </div>

    <div class="navbar__cta">
      <a href="{{ '/' | url }}#cennik" class="btn btn-orange">Sprawdź formy współpracy</a>
    </div>

    <button class="navbar__hamburger" id="hamburger" aria-label="Menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>
</nav>

<div class="navbar__mobile-menu" id="mobile-menu">
  <button class="navbar__mobile-close" id="mobile-close" aria-label="Zamknij">&times;</button>
  <a href="{{ '/' | url }}#uslugi" class="mobile-link">Usługi</a>
  <a href="{{ '/' | url }}#o-mnie" class="mobile-link">O mnie</a>
  <a href="{{ '/' | url }}#edukacja" class="mobile-link">Produkty cyfrowe</a>
  <a href="{{ '/' | url }}#vlog" class="mobile-link">Vlog</a>
  <a href="{{ '/blog/' | url }}" class="mobile-link">Blog</a>
  <a href="{{ '/newsletter/' | url }}" class="mobile-link">Newsletter</a>
  <a href="{{ '/kontakt/' | url }}" class="btn btn-orange mobile-link">Skontaktuj się</a>
</div>
